@font-face {
   font-family: 'GenJyuuGothic-Medium';
   font-display: swap;
   src: url('file:///C:/Users/student/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-10-28_161657/fonts/GenJyuuGothic-Medium/font.ttf');
}
